  .contenedor-principal {
    //background: transparent linear-gradient(111deg, #0098d8 0%, #81b83a 100%) 0% 0% no-repeat padding-box;
    margin: 0;
    padding: 5pt;
    background-size: cover;
    min-height: 100%;
	background-color:#5C4738;
  }
  .image-response {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
  }
  .group {
    padding-top: 15pt;
    text-align: center;
    border-bottom: 1pt solid #0098d8;
    color:#0098d8;
  }

  .center-text {
    text-align: center;
  }
  .fondo-azul {
    padding: 10pt;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 10pt;
    margin: 0 auto;
  }
  .espacio-blanco {
    height: 10pt;
  }

  .vinculo-texto {
    font-weight: bold;
    text-decoration: underline;
  }

/* Botones Centrados */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30pt;
  text-align: center;
}
.flex-item-left {
  flex: 50%;
}
.flex-item-right {
  flex: 50%;
}

.footer-image {
	width:40%;
	height:40%;
	float:right;
	padding-top:20px;
}


  @media (max-width: 500px) {
    #recaptcha-Login, #rc-imageselect {
      transform: scale(.55, .55);
      transform-origin: 0 0;
    }  
  }
  @media (max-width: 620px) and (min-width: 500px) {
    #recaptcha-Login, #rc-imageselect {
      transform: scale(.7, .7);
      transform-origin: 0 0;
    }
  }
  
  @media (max-width: 800px) and (min-width: 620px) {
    #recaptcha-Login, #rc-imageselect {
      transform: scale(.76, .76) !important;
      transform-origin: 0 0 !important;
    }
  }
  