<ion-content>
  <div class="contenedor-principal">
    <ion-grid>
      <ion-row>
        <ion-col size="1" size-md="3"></ion-col>
        <ion-col size="10" size-md="6">
          <ion-img class="image-response" src="assets/img/logo-banco-agrario-colombia.png"></ion-img>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1" size-md="3"></ion-col>
        <ion-col size="10" size-md="6" class="ion-align-self-center">
          <div class="fondo-azul">
            <form [formGroup]="passwordFormGroup"  (ngSubmit)="OnSubmit()" autocomplete="off">
              <ion-row style="margin-top: 3%; margin-bottom: 3%;">
                <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="ion-text-center">
                  <ion-title style="text-transform: uppercase;">
                    <strong>
                      {{'mobile.generics.registerPassword'| translate}}
                    </strong>
                  </ion-title>          
                </ion-col>
              </ion-row>
              <!-- password -->
              <div class="group">               
                <ion-label position="floating" color="danger" *ngIf="passwordFormGroup.controls['password'].errors">
                  {{ 'mobile.generics.inputRequired' | translate}}</ion-label>
                 
                <ion-label position="floating" class="ion-text-center">
                  {{'mobile.generics.LoginPassword' | translate }}</ion-label>

                <ion-input numeric (ionChange)="format()" type="password" minlength="5" maxlength="8"
                  formControlName="password" inputmode="numeric">
                </ion-input>
                <ion-label color="danger" *ngIf="this.passwordFormGroup.get('password').errors?.validatePassword">
                  {{'mobile.generics.FormatoNumerosRepetidos' | translate}}
                </ion-label>
                <ion-label position="stacked" color="danger"
                  *ngIf="passwordFormGroup.controls['password'].errors?.minlength">
                  {{'mobile.generics.MinimumCharacters' | translate }}</ion-label>
              </div>
              <!-- confirmPassword -->
              <div class="group">
                <ion-label position="floating" color="danger"
                  *ngIf="passwordFormGroup.controls['confirmPassword'].errors">
                  {{ 'mobile.generics.inputRequired' | translate}}</ion-label>

                <ion-label position="floating" class="ion-text-center">
                  {{'mobile.generics.ConfirmPassword' | translate }}</ion-label>

                <ion-input numeric (ionChange)="formatConfirm()" type="password" minlength="5" maxlength="8"
                  formControlName="confirmPassword" inputmode="numeric"></ion-input>

                <ion-label position="stacked" color="danger"
                  *ngIf="passwordFormGroup.controls['confirmPassword'].errors?.minlength">
                  {{'mobile.generics.MinimumCharacters' | translate }}</ion-label>

                <ion-label color="danger" *ngIf="this.passwordFormGroup.get('confirmPassword')
                .errors?.validatePassword">{{ 'mobile.generics.FormatoNumerosRepetidos' | translate}}
                </ion-label>
              </div>
              <ion-row class="espacio-blanco"></ion-row>
              <div class="center-text">
                <ion-label position="stacked" color="danger" *ngIf="passwordFormGroup.controls['password']
                .errors?.required || passwordFormGroup.controls['confirmPassword'].errors?.required">
                  {{'mobile.generics.MessageRequired' | translate }}</ion-label>
                  <ion-label position="stacked" color="danger" *ngIf="!passwordFormGroup.controls['password']
                .errors?.required && !passwordFormGroup.controls['confirmPassword']
                .errors?.required && passwordFormGroup.controls['confirmPassword'].value !== 
                passwordFormGroup.controls['password'].value ">
                {{'mobile.generics.ContrasenaNoCoincide' | translate }}</ion-label>
              </div>
              <ion-row class="espacio-blanco"></ion-row>
              <div class="ion-text-center">
                <ion-label color="mango" *ngIf="!this.passwordFormGroup.valid" position="floating" >
                  {{ 'mobile.generics.mensajeInformativo' | translate}}
                </ion-label>
              </div>
              <ion-row class="espacio-blanco"></ion-row>
              <div class="center-text">
                <ion-button color="mango" type="submit" shape="round" size="default" class="botones"
                  [disabled]="!passwordFormGroup.valid || passwordFormGroup.controls['confirmPassword'].value 
                  !== passwordFormGroup.controls['password'].value">{{'mobile.generics.save'| translate}} </ion-button>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>